* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #000;
  color: white;
  padding: 10px 40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.icons{
  cursor: pointer;
  display: flex;
  gap: 30px;
  font-size: 12px;
  font-family: 'Arial', Helvetica, sans-serif;
}


.fundo {
  background: url('imagem/fundo.jpg') no-repeat center center/cover;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: white;
  color: black;
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #f0f0f0;
}

footer {
  background-color: #111;
  color: #aaa;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
