body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  text-align: center;
  background: white;
  padding-bottom: 1em;
}

.logo-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.logo-titulo img {
  height: 100px;
  width: 100%;
}

.banner {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.menu-lateral {
  width: 200px;
  float: left;
  padding: 20px;
  background-color: white;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
}

.menu-lateral li {
  margin: 10px 0;
  font-weight: bold;
}

.doe-button {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #3b0099;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-left: 220px;
  padding: 20px;
}

.card {
  position: relative;
  color: white;
  padding: 15px;
  height: 120px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
  border-left: 8px solid rgba(0, 0, 0, 0.5); 
}

.card span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: white;
}

.card-lancamento {
  background-image: url('imagem/lancamento.jpg');
}

.card-bolsas {
  background-image: url('imagem/museunacional.jpg');
}

.card-aniversario {
  background-image: url('imagem/capa_207-anos.jpeg');
}

.card-relatorios {
  background-image: url('imagem/relatorio.jpg');
}

.card-mestrado {
  background-image: url('imagem/profllind_2025.jpg');
}

.card-concurso {
  background-image: url('imagem/concurso-docente-di-2025.jpeg');
}

footer {
  clear: both;
  background-color: #eee;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 14px;
  border-top: 1px solid #ccc;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 10px;
}

.footer-social {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.copy {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}
